html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100% }

.header {
  background-image: none;
  background-color: #FFCC00;
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
}

.popup {
  background-color: black;
  color: white;
}